---
import { clsx, getBackgroundColorClass } from "@utils/index";

const { title, cta_label, bg_colour } = Astro.props;
---

<div
	class={clsx(
		'flex flex-row w-full items-center justify-between gap-3 p-6 relative transition-all duration-75 ease-in-out rounded-2xl',
		getBackgroundColorClass(bg_colour)
	)}>
	<div class='w-full flex flex-col gap-3'>
		<h5
			class='text-[#333333] dark:text-[#333333] font-medium w-full sm:text-xl md:text-2xl leading-tight'>
			{title}
		</h5>

		<div class='w-full flex flex-row gap-3'>
			<button
				id='button-schedule-meeting'
				data-umami-event='cta-schedule-meeting'
				class={clsx(
					'bg-gray-900 text-white font-medium py-2 px-4 rounded-full w-fit'
				)}
				onclick="window.open('https://cal.com/msomu/15min', '_blank')">
				{cta_label}
			</button>

			<button
				id='button-email-me'
				data-umami-event='cta-email-me'
				class='text-black hover:bg-gray-100 p-2 rounded-full w-fit transition-colors duration-200'
				title='Email me'
				aria-label='Email me'
				onclick="window.location.href=`mailto:msomasundaram93@gmail.com?subject=Let's%20Build%20Something%20Remarkable&body=Hi%20Sanju%2C%0A%0AI%20came%20across%20your%20projects%20and%20was%20impressed%20by%20it.%20I%20would%20love%20to%20discuss%20the%20possibility%20of%20collaborating%20on%20a%20new%20project.%20Looking%20forward%20to%20hearing%20from%20you.%0A%0ABest%20regards%2C%0A%5BYour%20Name%5D`">
				<svg
					class='w-5 h-5'
					xmlns='http://www.w3.org/2000/svg'
					fill='none'
					viewBox='0 0 24 24'
					stroke='currentColor'>
					<path
						stroke-linecap='round'
						stroke-linejoin='round'
						stroke-width='2'
						d='M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z'
					></path>
				</svg>
			</button>

			<button
				id='button-twitter'
				data-umami-event='cta-twitter'
				class='text-black hover:bg-gray-100 p-2 rounded-full w-fit transition-colors duration-200'
				title='Connect on Twitter'
				aria-label='Connect on Twitter'
				onclick="window.open('https://x.com/msomuin', '_blank')">
				<svg
					class='w-5 h-5'
					xmlns='http://www.w3.org/2000/svg'
					fill='currentColor'
					viewBox='0 0 24 24'>
					<path
						d='M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z'
					></path>
				</svg>
			</button>
		</div>
	</div>
</div>
