---
import { menuItems } from '@data/index';
---

<footer
	class='w-full mt-auto pt-12 pb-6 border-t border-gray-200 dark:border-gray-800'>
	<div class='flex flex-col items-center gap-6'>
		<nav class='flex flex-wrap justify-center gap-6'>
			{
				menuItems.map((item) => (
					<a
						href={item.url}
						class='text-sm font-medium text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100 transition-colors capitalize'>
						{item.label}
					</a>
				))
			}
		</nav>
		<p class='text-sm text-gray-500 dark:text-gray-500'>
			Copyright © {new Date().getFullYear()} Somasundaram Mahesh
		</p>
	</div>
</footer>