---
import { Footer } from '@components/misc';
---

<div
	id='root-container'
	class='w-full flex flex-col min-h-screen items-center justify-start my-6 p-4 antialiased max-w-6xl mx-auto'>
	<slot />
	<Footer />
</div>
